body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000    
}

.container {
    text-align: center;
    padding-top: 400px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}
